{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">

            <h1 class="display-4 logo-font text-black">
                Welcome to AmandaAlexandra's 3D Printing Shop
            </h1>

            <div class="my-5">
                <h4>
                    <a href="{% url 'product_list' %}"
                       class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Shop Now
                    </a>
                </h4>
                <p class="mt-3">
                    Create a login today so you can keep track of your purchase history. 
                    Don’t forget – you get free delivery when you spend over 50 USD.
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
