<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto flex-wrap justify-content-center">

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="all-products-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                All Products
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'product_list' %}" class="dropdown-item">
                    All Products
                </a>

                <a href="{% url 'product_list' %}?sort=price&direction=asc" class="dropdown-item">
                    By Price
                </a>

                <a href="{% url 'product_list' %}?sort=rating&direction=desc" class="dropdown-item">
                    By Rating
                </a>

                <a href="{% url 'product_list' %}?sort=category&direction=asc" class="dropdown-item">
                    By Category
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="figures-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Figures
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="figures-link">
                <a href="{% url 'product_list' %}?category=figures" class="dropdown-item">
                    All Figures
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="decor-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Decor
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="decor-link">
                <a href="{% url 'product_list' %}?category=decor" class="dropdown-item">
                    All Decor
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="accessories-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Accessories
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'product_list' %}?category=accessories" class="dropdown-item">
                    All Accessories
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="merch-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Merch
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="merch-link">
                <a href="{% url 'product_list' %}?category=merch" class="dropdown-item">
                    All Merch
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle"
               href="#"
               id="offers-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Special Offers
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="{% url 'product_list' %}?category=special_offers" class="dropdown-item">
                    Deals & Discounts
                </a>
            </div>
        </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="{% url 'news_list' %}">
                  News
                </a>
            </li>

    </ul>
</div>
