<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">

    <!-- All Products -->
    <li class="nav-item dropdown">
      <a class="nav-link text-black dropdown-toggle"
         href="#"
         id="all-products-link"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        Shop
      </a>

      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'product_list' %}" class="dropdown-item">All Products</a>
        <a href="{% url 'product_list' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
        <a href="{% url 'product_list' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
        <div class="dropdown-divider"></div>

        {% for c in nav_categories %}
          <a href="{% url 'product_list' %}?category={{ c.name }}" class="dropdown-item">
            {{ c.friendly_name|default:c.name }}
          </a>
        {% endfor %}
      </div>
    </li>

    <!-- Categories (top level) -->
    {% for c in nav_categories %}
      <li class="nav-item">
        <a class="nav-link text-black"
           href="{% url 'product_list' %}?category={{ c.name }}">
          {{ c.friendly_name|default:c.name }}
        </a>
      </li>
    {% endfor %}

  </ul>
</div>
