/* -------------------------------
   Checkout form styling
-------------------------------- */

.StripeElement,
.form-control {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;

    border: 1px solid #000;
    border-radius: 0;
    background-color: white;

    color: #000;
    font-size: 16px;

    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.form-control:focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #dc3545;
}

.fieldset-label {
    position: relative;
    right: .5rem;
    padding: 0 .5rem;
}
